*, :before, :after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	
	color-scheme: light dark;
	
	font-synthesis: none;
	user-select: none;
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}

body {
	display: flex;
	place-items: center;
	min-width: 320px;
	max-width: 100vw;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon-btn {
	border-radius: 50%;
	padding: 8px;
	transition: background-color .2s;
	
	&:active {
		background-color: #d9dbdf;
	}
}

svg {
	display: block;
	pointer-events: none;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #3b4a54;
		background-color: #eae6df;
		background-image: linear-gradient(180deg, #eae6df, #d1d7db);
	}
}

::-webkit-scrollbar {
	width: 6px !important;
	height: 6px !important;
}

::-webkit-scrollbar-thumb, html[dir] .light ::-webkit-scrollbar-thumb {
	background-color: rgba(11, 20, 26, .2);
}

::-webkit-scrollbar-track, html[dir] .light ::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, .1);
}
